<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>SamuelWyck: Yahtzee</title>
    </head>
    <body style="background-color: lightgray;">
        <div class="container-fluid d-flex justify-content-center" style="cursor: default; background-color: rgb(10, 76, 189); background-image: url('https://img.freepik.com/premium-vector/abstract-modern-blue-gradient-geometric-pattern-background-website-banner-graphic-design_120819-591.jpg'); background-size: 100% 100%;">
            <span id="title-span" style="padding-top: 30px; padding-bottom: 30px; font-size: 50px; font-weight: bold; color: rgb(251, 237, 210); text-shadow: 6px 6px 10px black;">Samuel Wycklendt</span>
        </div>
        
        <nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: navy; box-shadow: 0px 10px 20px gray;">
            <a class="navbar-brand" target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/in/swycklendt"><strong style="text-shadow: 2px 2px 4px black; color: rgb(251, 237, 210);">My LinkedIn</strong></a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="project-link"><a class="nav-link" href="{% url 'index' %}">My Projects</a></li>
                <li class="nav-item" id="courses-link"><a class="nav-link" href="{% url 'courses' %}">My Courses</a></li>
                <li class="nav-item" id="github-link"><a class="nav-link" target="_blank" rel="noreferrer noopener" href="https://www.github.com/SamuelWyck">My Github</a></li>
            </ul>
        </nav>

        <div class="container-fluid" style="padding-top: 50px;">
        
            <div style="text-align: center; cursor: default;" class="d-flex justify-content-center">
                <strong style="font-size: 70px; color: rgb(15, 54, 183); text-shadow: 5px 5px 10px gray;">Yahtzee</strong>
            </div>
            <div class="row d-flex justify-content-center">
            <div class="embed-responsive embed-responsive-16by9 col-7" style="margin-top: 40px; padding: 0px;">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x5ibcNLM_b8?si=_H4B4_87ZZiERdhJ?rel=0" allowfullscreen></iframe>
            </div>
            </div>
            <div class="container-md" style="font-size: 20px; margin-top: 60px; margin-bottom: 100px; padding: 20px; border-radius: 5px; background-color: whitesmoke; box-shadow: 5px 5px 20px 10px gray; cursor: default;">
                <div><strong>Languages Used: </strong>Python</div>
                <div><strong>See Code: </strong><a href="https://github.com/SamuelWyck/Yahtzee-Game" target="_blank" rel="noreferrer noopener" class="text-wrap text-break">https://github.com/SamuelWyck/Yahtzee-Game</a></div>
                <div style="padding: 21px;">
                    I wrote this yahtzee game as the final project for Harvard’s CS50P: "Intro to programming with python". This was my first large programming project. Using pseudo graphics in the command line terminal I made a simple interface for presenting the dice and scorecard to the player, and even tracked a high score. Looking back at the code, I can see many aspects I could improve with my present experience. However, this project deepened my understanding of python and cemented a programming mindset which has helped me as I continue to learn computer science and programming.
                </div>
            </div>
          
        </div>
    </body>
</html>
